.form {
    display: flex;
    flex-direction: column;
}

.subtitle {
    color: var(--fontColor);
    margin: auto 110px 10px;
}

.item {
    width: 50%;
    margin-left: 110px;   
    margin-bottom: 10px; 
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--fontColor);
    color: var(--fontColor);
}

.message {
    color: var(--messageColor);
    font-weight: bold;
    margin:  auto 110px 10px;
}