* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: var(--bg);
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

:root {
    --bg: #2c3e50;
    --fontColor: #ecf0f1;
    --buttonColor: #8e44ad;
    --messageColor: #e74c3c;
}